<div class="contacts">
	<div class="contacts-bg"></div>
	<div class="contacts-info">
		<div class="row">
			<div class="col-sm-6 col-sm-push-6">
				<div class="contact-text">
					<h1 class="page-title">Contacts</h1>
					<p class="contact-address">
						<i class="demo-icon icon-mail-1"></i>
						<span>shprengerroman@gmail.com</span>
					</p>
					<p class="contact-address">
						<i class="demo-icon icon-skype"></i>
						<span>shprenger1</span>
					</p>
					<ul class="links">
						<li>
							<a href="https://github.com//RomanShprenger" target="_blank" class="github-link link-icon">
								<i class="demo-icon icon-git"></i>
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/in/roman-shprenger-132673118" target="_blank" class="linkedin-link link-icon">
								<i class="demo-icon icon-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/shprengerroman" target="_blank" class="facebook-link link-icon">
								<i class="demo-icon icon-facebook"></i>
							</a>
						</li>
						<li>
							<a href="https://vk.com/shprengerroman" target="_blank" class="vk-link link-icon">
								<i class="demo-icon icon-vkontakte"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- 
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-center">{{title}}</h1>
			<div class="row">
				<div class="col-sm-6">
					<div class="list" *ngIf="list.length > 0">
						<ul class="list-group">
							<list-item *ngFor="let item of list" class="list-group-item" [item]="item" (deleted)="onListItemDeleted($event)"></list-item>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form form-group">
		        <label>Write your name, please</label>
		        <input [(ngModel)]="name" placeholder="name" class="form-control" />
		      </div>
		      <h2 [ngClass]="color">Hello {{name}} !</h2>
		      <button *ngIf="name" class="btn btn-success" (click)="ClickButton(name)">Add to list</button>
				</div>
			</div>
		</div>
	</div>
</div> -->