.skill, .passion{
	display: block;
	height: 15px;
}

.skill{
	background-color: #22211F;
}

.passion{
	background-color: #999;
}

span{
	font-size: 0.8em;
	margin-bottom: 10px;
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	color: #fff;
	font-weight: bold;
}

